* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.header {
  background-color: lightpink;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
}

.header__box {
  background-color: rgb(245, 121, 142);
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__box,
.nav__item--link {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  padding: 7px 0;
}

.logo__img {
  width: 50px;
}

.logo__name {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav {
  max-width: 50%;
  min-width: 49.5%;
  background-color: blueviolet;
}

.nav__items {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.nav__item--link {
  font-size: 1.5rem;
  padding: 7px 0 5px;
}

.nav__item--link:hover {
  border-bottom: 3px solid black;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.landing-page {
  width: 70%;
  background-color: rgb(23, 221, 165);
}

.landing-page__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  place-items: center;
  grid-gap: 10px;
  margin: 10vh 0 5vh;
}

@media (max-width: 700px) {
  .landing-page__box {
    grid-template-columns: 1fr;
  }
}

.landing-page_title {
  font-weight: 700;
  letter-spacing: -0.05rem;
  font-size: 4.6vmax;
  text-align: end;
  font-style: italic;
  line-height: 1.3em;
  align-self: center;
}

.landing-page_title b {
  font-style: normal;
  font-weight: 900;
}

.landing-page__img {
  background-color: rgb(18, 168, 151);
  height: 85vh;
  width: 100%;
  /* border: 5px solid #000; */
  object-fit: cover;
}

.examples {
  width: 70%;
  background-color: darkcyan;
}

.examples__box {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  /* grid-template-rows: auto; */
  justify-content: center;
  place-items: center;
  grid-gap: 10px;
  margin: 10vh 0 5vh;
}

.example__img {
  background-color: aquamarine;
  height: 260px;
  width: 100%;
  object-fit: cover;
}

.pricing {
  width: 70%;
  background-color: rgb(23, 221, 165);
}

.pricing__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  padding: 0 50px;
  margin: 10vh 0 5vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  border-radius: 20px;
  background-color: aqua;
  height: 70vh;
}

.box__name {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.5rem auto;
  text-align: center;
}

.box__price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.5rem;
  padding: auto;
  width: 120%;
  height: 6rem;
  border-radius: 20px;
}

.box__offer {}

.footer {
  background-color: lightyellow;
  display: flex;
  justify-content: center;
}