:root {
  --background-color-0: rgba(255, 255, 255, 1);
  --background-color-1: #babdbf;
  --background-color-2: #2b3c40;
  --background-color-3: #587073;
  --background-color-4: #ffbc93;
  --background-color-5: #777cd8;
  --background-gradient: linear-gradient(to right bottom, #ee87ae, #c47cc7, #777cd8);
  --background-gradient-2: linear-gradient(to right bottom, #ffbc93, #777cd8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background-color: var(--background-color-0);
  background-image: url(./image/tloooo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  background-color: var(--background-color-0);
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 97;
}

.header__box {
  /* background-color: rgb(245, 121, 142); */
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__box,
.nav__item--link {
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  padding: 7px 0;
}

.logo__img {
  width: 50px;
}

.logo__name {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav {
  max-width: 50%;
  min-width: 49.5%;
  /* background-color: blueviolet; */
}

.nav__items {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.nav__item--link {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 7px 0 5px;
}

.nav__item--link:hover {
  border-bottom: 3px solid var(--background-color-5);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}

.main::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .5);
  z-index: 98;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.main.show::before {
  opacity: 1;
  pointer-events: auto;
}

.landing-page {
  width: 70%;
  /* background-color: rgb(23, 221, 165); */
}

.landing-page__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  /* place-items: center; */
  grid-gap: 10px;
  margin: 10vh 0 5vh;
}

@media (max-width: 700px) {
  .landing-page__box {
    grid-template-columns: 1fr;
  }
}

.landing-page_title {
  font-weight: 700;
  letter-spacing: -0.05rem;
  font-size: 4.6vmax;
  /* text-align: end; */
  font-style: italic;
  line-height: 1.3em;
  align-self: self-start;
}

.landing-page_title b {
  font-style: normal;
  font-weight: 800;
}

.landing-page_title b:last-child {
  text-decoration: underline;
  background-image: var(--background-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0;
}

.landing-page__img {
  background-color: var(--background-color-5);
  height: 85vh;
  width: 100%;
  /* border: 5px solid #000; */
  object-fit: cover;
  border-radius: 20px;
}

.examples {
  width: 70%;
  /* background-color: darkcyan; */
}

.examples__box {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  /* grid-template-rows: auto; */
  justify-content: center;
  place-items: center;
  grid-gap: 10px;
  margin: 15vh 0 5vh;
}

.example__img {
  background-color: var(--background-color-5);
  height: 260px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.pricing {
  width: 70%;
  /* background-color: rgb(23, 221, 165); */
}

.pricing__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 75px;
  padding: 0 50px;
  margin: 10vh 0 15vh;
}

.box {
  flex: 0 0 calc(33.33% - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: var(--background-color-0);
  padding: 2rem 1.5rem 3rem;
  width: 270px;
  min-width: 270px;
  box-shadow: -5px 5px 10px var(--background-color-3);
  /* border: 1px solid var(--background-color-4); */
}

.box__name {
  font-size: 2rem;
  font-weight: 700;
  margin: 0rem auto 2rem;
  text-align: center;
  color: var(--background-color-5);
}

.box__price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #878bdc;
  box-shadow: inset 0 0 20px 5px var(--background-color-5);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5rem;
  padding: 2rem 0;
  width: 140%;
  /* height: 30%; */
  border-radius: 10rem;
  color: var(--background-color-0)
}

.box__offers {
  font-size: 1.5rem;
  line-height: 3rem;
  list-style-position: inside;
  margin: 2.5rem auto 0;
}

.offer__condition {
  list-style-type: none;
}

.offer__condition::before {
  content: "\25CB";
  margin-right: 8px;
}

.box:last-child .offer__condition::before {
  content: "\25CF";
  margin-right: 8px;
}

.footer {
  background-color: var(--background-color-5);
  color: var(--background-color-0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  max-height: 50px;
}

.product__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  margin: 1rem;
  background-color: var(--background-color-0);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  position: fixed;
  width: 700px;
  /* max-width: 700px;
  min-width: 270px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
}

.product__card.show {
  display: grid;
  pointer-events: auto;
}

.form__img {
  border-radius: 10px;
  background-color: var(--background-color-5);
  width: 100%;
  height: 230.48px;
  object-fit: cover;
  /* min-height: 200px;
  max-height: 280px; */
}

.form_card {
  /* background-color: #777cd8; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form__close--btn,
.error__close--btn {
  position: absolute;
  width: 100%;
  top: calc(50% - 115.24px - 2.75px);
  left: calc(50% + 340px - 16.5px);
  color: var(--background-color-3);
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
  width: 16.5px;
  border: none;
  outline: none;
  background-color: transparent;
}

.form__buy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color-0);
  font-size: 1.2rem;
  font-weight: 600;
  height: 2.8rem;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--background-color-5);
  cursor: pointer;
}

.form__title,
.form__price {
  font-size: 1.5rem;
  font-weight: 700;
}

.form__hash {
  display: inline-block;
  /* height: 2rem; */
  border: 1px solid var(--background-color-5);
  color: var(--background-color-3);
  border-radius: 2rem;
  padding: 0.3rem 0.7rem;
  margin-top: 1rem;
}

.card__error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: var(--background-color-0);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  border: 3px solid var(--background-color-4);
  border-radius: 15px;
  padding: 10px;
  position: fixed;
  width: 360px;
  height: 120px;
  font-size: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  display: none;
}

.card__error.show {
  display: flex;
}

.error__close--btn {
  top: calc(50% - 50px - 2.75px);
  left: calc(50% + 151.5px);
}

.error__text {
  text-align: center;
}